body {
  font-family: 'Raleway', sans-serif;
  display: grid;
}

html {
  background: url("https://i.imgur.com/13ejPR9.jpg") no-repeat center center fixed;
  background-size: cover;
}

form {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

h1 {
  padding: 10px;
}

.big {
  font-size: 50px;
}

.small {
  font-size: 15px;
}

header, footer {
  text-align: left;
  color: white;
  display: flex;
  overflow: hidden;
  background-color:black;
  opacity: 0.8;
  height: 100px;
  margin: 10px;
}

footer {
  margin-top: 40px;
}

.bottom {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
}

#footer {
  color: white;
  text-align: center;
  width: 100%;
}

.brewery {
  opacity: 0.7;
  display:flex;
  justify-content: space-around;
}

.card {
  background-color: white;
  width: 30vw;
}

@media screen and (max-width: 600px) {
  .brewery {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80vw;
    margin-bottom: 10px;
  }
}
  
